.container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
}

.mainImage {
    display: flexbox;
    border-left: 1px solid black;
    border-top-left-radius: 10px;  
    border-bottom-left-radius: 10px;  
    align-items: center;
    justify-items: center;
}

.altImageTop {
    display: flexbox;
    aspect-ratio: 1;
    min-width: 1000px;
    max-height: 200px;
    max-height: 200px;
}