.search_banner {
    display: flex;
    flex-direction: column;
  }
  
  .search_bannerBtn:hover {
    background-color: #ff7779 ;
    font-weight: 900 ;
    text-transform: inherit ;
    color: white 
  }

  