.search_banner {
    display: flex;
    flex-direction: column;
  }
  
  .search_bannerBtn:hover {
    background-color: #ff7779 ;
    font-weight: 900 ;
    text-transform: inherit ;
    color: white; 
    cursor: pointer;
  }

  .visitDates {
    min-height: 30px;
    min-width: 100px;
    background-color: white;
    border: 1px solid  grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px 0px;
    border-radius: 5px;
    /* position: absolute; */
  
  }