@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.container {
  padding: 0 2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

/* Below is for the reservations_box */

.reservations_box {
  display: flexbox;
  position: absolute;
  justify-self: right;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  width: 20%;
  min-width: 15%;
  min-height: 30%;
  border: 1px solid rgb(214, 214, 214);
  margin: 0px;
  margin-left: 50%;
  text-align: center;
  font-size: small;
  box-shadow: -1px 1px 1px 1px rgb(226, 226, 226);
  padding: 1%;
  scale: 1.1;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(53, 52, 52);
}

.price {
  margin-right: 25px;
  font-size: 20px;
  float: left;
}

.stars {
  float: right;
}

.check_in {
  width: 100px;
  padding: 10px;
  border-color: grey;
}

.check_out {
  width: 100px;
  padding: 10px;
  border-color: grey;
}

.form {
  float: center;
  padding-right: 30px;
}

.reserve_button {
  margin-left: 5%;
  float: center;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  margin-top: 10px;
  background-image: radial-gradient(circle, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.leftrespan {
  float: left;
}

.rightrespan {
  float: right;
}

.h2 {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-left: 13%;
}

.h5 {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-left: 13%;
  margin-bottom: 2%;
}

.calendar {
  display: flexbox;
  position: relative;
  width: 40%;
  min-width: none;
  height: 20%;
  scale: .9;
  margin-top: -10%;
  margin-left: 10%;
}

.guestEntry {
  margin: 1px grey;
  padding: 10px;
}

.spacer {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Above is for the reservations_box */

.main {
  display: block;
  padding-left: 5vw;
  padding-right: 5vw;
}