.reviewModal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 50px;
    z-index: 1000;
    width: 80%;
    height: 80%;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 500px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    max-height: 80%;
    overflow: hidden;
}


.modalOverlay {
    display: flex;
    position: fixed;
    opacity: .3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    z-index: 1000;
}

.commentList {
    list-style: none;
}

.button {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    border: none;
    margin-top: -60px;
    margin-left: -30px;
    scale: 1.2;
    width: 25px;
    height: 25px;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(92, 92, 92, 0.15)
}

.search {
    display: flex;
    position: relative;
    bottom: 85%;
    left: 50%;
    width: 50%;
    height: 45px;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: -20px;
}

.search:focus {
    outline: 1px solid black;
}

.header {
    width: 100%;
    height: fit-content;
    top: 0;
    left: 15px;
    padding: 10px;
}

.ratings {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 15px;
    display: flex;
    width: 40%;
    height: 95%;
}

.comments {

    display: flex;
    max-height: 95%;
    width: 50%;
    max-width: 100%;
    margin-left: 10%;
    text-align: center;
    flex-direction: column;
    height: fit-content;
    overflow: auto;
    z-index: 1000;
}