@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.reviews {
    width: 70vw;
    height: 500px;
    background: rgba(255, 255, 255, 0.8);
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
}


.comments {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
}

.button {
    width: 210px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    transition: transform .05s ease-out;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
    text-align: center;
}

.button:active {
    transform: scale(.96);
}